<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true
        });
        $('#cartview').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true
        });
        $('#POSinvoiceList').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true
        });


        // localStorage
        // Initialize cart from localStorage
        let cart = JSON.parse(localStorage.getItem('shoppingCart')) || [];

        // Function to save cart to localStorage
        function saveCart() {
            localStorage.setItem('shoppingCart', JSON.stringify(cart));
        }

        function renderCart() {
            $('#cart-items').empty(); // Clear existing items
            let total = 0;

            cart.forEach(item => {
                const itemTotal = item.price * item.quantity;
                total += itemTotal;
                $('#cart-items').append(`
                    <li class="pb-3 sm:pb-4">
      <div class="flex items-center space-x-4 rtl:space-x-reverse">
         
         <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
               ${item.name}
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
               ${item.price} x ${item.quantity}
            </p>
         </div>
         <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            ${itemTotal}
         </div>
      </div>
   </li>
                `);
            });
            $('#cart-total').text(total); // Update total amount
        }

        // renderCart();
        $('.add-to-cart').on('click', function () {
            const productDiv = $(this).closest('.product');
            const productId = productDiv.data('id');
            const productName = productDiv.data('name');
            const productPrice = productDiv.data('price');
            const productQty = productDiv.find("input[name='pQty']").val();
            let res= productPrice * productQty
            // console.log(res);
            // alert(res);
            cart.push({
                id: productId,
                name: productName,
                price: productPrice,
                quantity: productQty
            });
            saveCart();
            renderCart();
        });


        //Clear Cart
        $('#clear-cart').on('click', function () {
            if (confirm('Are you sure you want to clear your cart?')) {
                cart = []; // Empty the cart array
                saveCart();
                renderCart();

            }
        });
        renderCart();
        // Checkout button
        $('#checkout-btn').on('click', function () {
            if (cart.length === 0) {
                alert('Your cart is empty!');
                return;
            }
            sendCart()

            
            

            // Here you can implement the checkout logic, e.g., sending the cart to the server


            // alert('Checkout successful! Total: ' + $('#cart-total').text());
            // cart = []; // Clear the cart after checkout
            // saveCart();
            // renderCart();
        });



        // Function to send cart data to Django
        function sendCart(){
            // alert('hello send cart fun');
            const cart = localStorage.getItem('shoppingCart'); 
            $.ajax({
                url:'/SaveOrderView/',
                type:'POST',
                data:cart,
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Ensure you have the CSRF token for POST requests
                },
                dataType: 'json',
                // beforeSend: function(xhr, settings) {
                //     xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                // },
                // data: JSON.stringify(cart),
                // contentType: 'application/json',
                // dataType: 'json',
                // headers: {
                //     'X-CSRFToken': '{{ csrf_token }}' // Ensure you have the CSRF token for POST requests        
                // },
                // data: JSON.stringify(cart),



                success:function(){
                    alert('Invoice Save Successfully')
                    localStorage.removeItem('shoppingCart'); // Clear cart from localStorage
                    location.reload(); // Reload the page to reflect changes

                },
               error: function () {
                    alert('error');
                }
            });
            
        }

        $('.printBtn').on('click', function () {
            const currenttr = $(this).closest('.invoicetr');
                const invId = currenttr.data('id')
                // alert(invId);
                $.ajax({
                    url: '/CartItemDetailView/'+invId,
                    method: 'GET',
                    success: function (response) {
                        
                        response.forEach(function (i) {
                        $('#PrintPreViewBody').append(`
                           
                           
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    ${i.product.name}
                </th>
                <td class="px-6 py-4">
                    ${i.product.price}
                </td>
                <td class="px-6 py-4">
                    ${i.quantity}
                </td>
                <td class="px-6 py-4">
                    ${i.price}
                </td>
                
            </tr>
            
                        `);
                        });

                        printTable();

                        
                    },
                    error: function () {alert('error');}



                })
        });

    





    //Category List
    $.ajax({
        url: '/api/categories/',
        method: 'GET',
        success: function (response) {
            $('#CategoryListDropdown').empty();
            console.log(response);
            response.forEach(function (i) {
                $('#CategoryListDropdown').append(`
                           
                            <li class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-blue-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                                ${i.name}
                            </li>
                        `);
            });
        },
        error: function () {
            alert('error');
        }
    });

    // $.ajax({
    //     url: '/api/products/',
    //     method: 'GET',
    //     success: function(response) {
    //                 $('#ItemListTblbody').empty();
    //                 console.log(response);
    //                 response.forEach(function(i) {
    //                     $('#ItemListTblbody').append(`

    //                         <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">

    //             <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    //                 ${i.productcode}
    //             </th>
    //             <td class="px-6 py-4">
    //                 ${i.category}
    //             </td>
    //             <td class="px-6 py-4">
    //                 ${i.name}
    //             </td>

    //             <td class="px-6 py-4">
    //                 ${i.price}
    //             </td>
    //             <td class="px-6 py-4">
    //                 <input type="number" class="w-20 border border-blue-700 rounded-lg px-2" value="1">
    //             </td>
    //             <td class="flex items-center px-6 py-4">

    //                 <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2 text-center me-1 mb-1 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">ADD</button>
    //             </td>
    //         </tr>
    //                     `);
    //                 });
    //             },
    //     error:function(){
    //         alert('error၁၂၃');
    //     }
    // });

   

    // Create New Category 
    function crateCategory() {

        let name = prompt("Create New Category :", "");
        // console.log(name);
        $.ajax({
            url: '/api/categories/',
            method: 'POST',
            data: JSON.stringify({ name: name }),
            contentType: 'application/json',
            success: function (response) {
                alert('Create Category Successfully')
                location.reload();
            },
            error: function () {
                console.log('eror');
            }
        });
    }//end category create

    $("#CreateCategoryFm").on('click', '.createCatBtn', function(){
        var currenttr = $(this).closest("#CreateCategoryFm");
        var name = currenttr.find("input[name='cat_name']").val();
        
        $.ajax({
            url: '/api/categories/',
            method: 'POST',
            data: JSON.stringify({ name: name }),
            contentType: 'application/json',
            success: function (response) {
                alert('Create Category Successfully')
                location.reload();
            },
            error: function () {
                console.log('eror');
            }
        });

    });//end create create




    $("#newItemForm").on('click', '#btnCreateItm', function () {
        var currenttr = $(this).closest("#newItemForm");
        var item_name = currenttr.find("input[name='itemname']").val();
        var item_code = currenttr.find("input[name='itemcode']").val();
        var item_price = currenttr.find("input[name='price']").val();
        var cate = currenttr.find("select[name='catname']").val();
        $.ajax({
            url: '/api/products/',
            method: 'POST',
            data: JSON.stringify({ name: item_name, productcode: item_code, price: item_price, category: cate }),
            contentType: 'application/json',
            success: function (response) {
                alert('Create Item Successfully')
                location.reload();
            },
            error: function () {
                console.log('eror');
            }
        });
    }

    );

    function printTable() {
	var el=document.getElementById("toPrint");
	el.setAttribute('border', '1');
	el.setAttribute('cellpadding', '5');
    el.setAttribute('cellspacing', '2');
    el.setAttribute('width', '100%');
    
	newPrint=window.open("");
	newPrint.document.write(el.outerHTML);
	newPrint.print();
	newPrint.close();
}


    });
    // end Ready Function
</script>