{% extends 'base.html' %}
{% load static %}
{% block title %}Items{% endblock %}
{% block content %}





<div class="flex grid grid-cols-12 gap-2 mt-4">
    <!-- <div class="col-span-4">01</div> -->
    <!-- <div class="col-span-2 col-start-1 col-end-7 ...">03</div>
  <div class="col-span-2 col-start-8 col-end-12 ...">03</div> -->


    <div class="col-start-1 col-end-9">


        <div
            class="relative overflow-x-auto shadow-md sm:rounded-lg w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">

            <!-- dropdown -->

            <button id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button">Category<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownDivider"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul id="CategoryListDropdown" class="py-2 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownDividerButton">

                    <!-- <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
      </li> -->

                </ul>

            </div>



            <table id="example" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>

                        <th scope="col" class="px-6 py-3">
                            Item Code
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Category
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Item Name
                        </th>

                        <th scope="col" class="px-6 py-3">
                            Price
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Qty
                        </th>

                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody id="ItemListTblbody">


                    {% for i in itemlist %}

                    <tr
                        class="product bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
                        data-id="{{i.id}}"
                        data-name="{{i.name}}"
                        data-price="{{i.price}}"
                        >

                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{i.productcode}}
                        </th>
                        <td class="px-6 py-4">
                            {{i.category}}
                        </td>
                        <td class="px-6 py-4">
                            {{i.name}}
                        </td>

                        <td class="px-6 py-4">
                            {{i.price}}
                        </td>
                        <td class="px-6 py-4">
                            <input name="pQty" type="number" class="w-20 border border-blue-700 rounded-lg px-2" value="1">
                        </td>
                        <td class="flex items-center px-6 py-4">

                            <button type="button"
                                class="add-to-cart text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2 text-center me-1 mb-1 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">ADD</button>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>





<div class="col-start-9 col-end-12 px-2">


       <div class="mb-2">
            <!-- <label for="customer_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer Name</label> -->
            <!-- <input type="text" id="customer_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="U Ba" /> -->
        </div>
        <div>
            
<ul id="cart-items" class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">

   

   

   
   

</ul>
<hr>
<div class="mt-4 py-3 sm:pb-4 bg-blue-100">
      <div class="flex items-center space-x-4 rtl:space-x-reverse">
         
         <div class="flex-1 min-w-0">
            <p class="text-sm font-semibold text-blue-900 truncate dark:text-white">
               Total Amount
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
              
            </p>
         </div>
         <div id="cart-total" class="inline-flex items-center text-base font-bold text-blue-900 dark:text-white">
            
         </div>
      </div>
</div>
<div class="flex justify-between items-center mt-4">
   <button type="button"  id="checkout-btn" class="text-white bg-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900">Checkout</button>
    <button type="button" id="clear-cart" class="text-white bg-red-600 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Clear Cart</button>
   </div>

        </div>

    </div>


</div>

<!-- Invoice List View  -->
<div>
    <div class="text-blue-900 font-bold mt-4 text-xl ">
        Today Invoice List 
    </div>
    

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                
                <th scope="col" class="px-6 py-3">
                    Invoice Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Amount
                </th>
                
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody id="POSinvoiceTblBody">
            {% for i in today_cart %}
            <tr data-id="{{i.id}}" class="invoicetr bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{i.id}}</a>
                </th>
                <td class="px-6 py-4">
                    {{i.date}}
                </td>
                <td class="px-6 py-4">
                    {{i.total}}
                </td>
                
                <td class="flex items-center px-6 py-4">
                    
                    <!-- <a href="#" class="font-medium text-blue-600 dark:text-white-500 hover:underline ms-3">
                        <svg class="w-5 h-5 text-blue-600 dark:text-white" 
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M8 3a2 2 0 0 0-2 2v3h12V5a2 2 0 0 0-2-2H8Zm-3 7a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h1v-4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v4h1a2 2 0 0 0 2-2v-5a2 2 0 0 0-2-2H5Zm4 11a1 1 0 0 1-1-1v-4h8v4a1 1 0 0 1-1 1H9Z" clip-rule="evenodd"/>
                    </svg>Print</a> -->
                    <button type="button" class="printBtn text-white bg-blue-500 hover:bg-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-3 py-2 text-center me-2 mb-1 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Print</button>
                </td>
            </tr>
            {% endfor %}
            
            
        </tbody>
    </table>
</div>

</div>


<div>
    <!-- <button data-modal-target="large-modal" data-modal-toggle="large-modal" class="block w-full md:w-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Large modal
    </button> -->
    
<!-- Large Modal -->
<div id="large-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-4xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                    Large modal
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="large-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4" >
                

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="toPrint" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Amount
                </th>
                
            </tr>
        </thead>
        <tbody id="PrintPreViewBody">

        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
</div>

                
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
                
            </div>
        </div>
    </div>
</div>

</div>






{% endblock content %}